.InputForm-root {
    width: 600px;
    margin: auto;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
}

.InputForm-item {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
}

.InputForm-typo {
    margin: 10px 20px 10px 0px !important;
}

.InputForm-mask {
    border: none;
    border-bottom: 1px solid grey;
    width: 200px;
}

.InputForm-textField {
    width: 200px;
}

.InputForm-select {
    width: 200px;
    text-align: end;
}

.InputForm-datepicker {
    position: relative;
    margin-top: 6px;
}

.InputForm-button {
    margin-top: 10px !important;
    display: flex;
}

.InputForm-header {
    margin: 20px auto 20px auto !important;
}

.MuiSelect-selectMenu {
    white-space: pre-wrap !important;
}

.InputForm-menuOption {
    display: block;
    cursor: pointer;
}

.InputForm-menuOption:hover {
    display: block;
    cursor: pointer;
    background-color: gainsboro;
}

